.pro-detail {
  margin: 50px;
  padding: 50px;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-container img {
  width: 100%;
  height: 100%;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}

.col-md-1 img {
  padding-bottom: 5px;
  width: 93px;
  margin-left: -15px;
}

/* content css */
.color-quality {
  display: flex;
}

.color-quality .color-quality-right {
  margin: 5px;
}

.occasion-cart {
  display: flex;
}

.occasion-cart .add-cart,
.occasion-cart .buyproduct {
  margin: 5px;
  padding: 5px;
}

.addwishlist {
  border-radius: 50%;
  border: 1px solid #8f8d8d;
  outline-offset: auto;
  margin-top: 25px;
  padding: 4px 10px 0px 10px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  background: linear-gradient(45deg, #9527275c, #e3101075);
  box-shadow: 0 0 0 4px #fff2;
  transition-property: transform, background;
  transition: 0.3s ease-in-out;
}

.fa {
  /* color: white; */
}

.addwishlist:hover {
  border: 1px solid red;
  border-radius: 50%;
}

.icon img {
  width: 40px;
}

.service-list ul {
  display: flex;
}

.service-list ul li {
  text-decoration: none;
  color: #333;
  margin: 15px;
  list-style-type: none;
}

.accordion-header button {
  border: none;
  background: none;
}

.accordion .accordion-item {
  margin: 5px;
  width: 696px;
  border-bottom: 1px solid #ec7e18b4;
  font-size: 13px;
  padding: 5px;
}

.accordion .accordion-item h4 {
  font-size: 15px;
}

.accordion .accordion-item h4 button .fa-plus {
  font-size: 13px;
}

#panelsStayOpen-headingOne .accordion-button i {
  margin-left: 458px;
}

#panelsStayOpen-headingTwo .accordion-button i {
  margin-left: 611px;
}

#panelsStayOpen-headingThree .accordion-button i {
  margin-left: 528px;
}

#panelsStayOpen-headingFour .accordion-button i {
  margin-left: 618px;
}
.description {
margin: 1.5em 0;
}
.description h5 {
color: #545454;
font-size: 0.9em;
margin-bottom: 12px;
}
.description input[type="text"] {
padding: 8px 8px;
color: #ccc;
font-size: 13px;
width: 60%;
outline: none;
letter-spacing: 1px;
background: white;
border: 1px solid;
}
.description input[type="submit"] {   
border-radius: 8px;
padding: 7px 17px 9px;
letter-spacing: 2px;
text-transform: uppercase;
}
#default{
  text-align:center;
}




/* new custom css */
.sizeChart-wrap {
  width: 100%;
  top: -14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}


.sizeChart {
  display: inline-block;
  position: relative;
  right: 12px;
  width: auto;
}

.sizeChart .sizeChart_pp {
  position: relative;
  font-weight: 700;
  padding: 5px;
  background: #c69c6d;
  color: #fff;
}

.select {
  line-height: 35px;
  height: 35px;
}

.select {
  background: #fff;
      background-clip: border-box;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 5px 10px 4px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}

.custom_label_style{
  margin-left: 5px;
    margin-right: 15px;
    color:#9c9898
}

.add_to_cart_btn{
  width: 100%;
  border: 2px outset #ffffff78;
  display: inline-block;
  background: linear-gradient(to bottom,#f1921b,#e2891a)!important;
  padding: 8px 25px;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  box-shadow: 0 0 0 4px #fff2;
  margin: 20px 0;
  cursor: pointer;
  transition-property: transform, background;
  transition: 0.3s ease-in-out;
}

.buy_now_btn{
  width: 100%;
  border: 2px outset #ffffff78;
  display: inline-block;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b)!important;
  padding: 8px 25px;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  box-shadow: 0 0 0 4px #fff2;
  margin: 20px 0;
  cursor: pointer;
  transition-property: transform, background;
  transition: 0.3s ease-in-out;
}

.wishlist_icon_div{
  margin-top: 28px;
}

.wishlish_icon{
  padding: 2%;
    border: 1px solid #e2891a;
    border-radius: 42px;
    color:#e2891a
}


.pin_code_check{
  width: 100%;
  border: 2px outset #ffffff78;
  display: inline-block;
  background: #cc943d;
  /* padding: 8px 25px; */
  border-radius: 4px;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 0 4px #fff2;
  /* margin: 20px 0; */
  cursor: pointer;
  transition-property: transform, background;
  transition: 0.3s ease-in-out;
}




#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.tab_style{
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b)!important;
  padding:14
}


.nav-tabs > li.active > a{
  background-color: #cc943d;
  border: 1px solid #cc943d;
  font-weight: 500;
  
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: #cc943d;
    border: 1px solid #cc943d;
    color: white;
}

.more_details{
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.faq_heading{
  text-align:initial;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.faq_para{
  font-weight: 400;
}
.delivery_options{
  color: '#9c9898';
  font-weight: 500;
  font-size : 17px;
}

@media(min-width:992px){
  .detail_page_images_mobile{
    display: none;
  }

  .cart_btn_row{
    padding-top:15px
  }
}




@media(max-width:767px){
  .exclusive_collection{
    margin-top: 20px;
  }

  .delivery_options{
    font-size : 12px;
  }

  .detail_page_images{
    display:none
  }

  .add_to_cart_btn{
    padding: 8px 12px;
    font-size: 12px;
  }

  .buy_now_btn{
    padding: 8px 12px;
    font-size: 12px;
  }
  
  .wishlist_icon_div {
    margin-top: 23px;
}

.wishlish_icon {
  padding: 6%;
}

/* .cart_btn_row{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
} */


}


/* end new custom css */